@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$background-color: #f4f4f4;

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}

/* Main section styles */
.Main {
  padding: 10px;
  display: grid;
  grid-template-columns: minmax(auto, 976px);
  justify-content: center;
  &-loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    height: 20px;
    width: 20px;  
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}